html {
  overflow-x: auto;
  overflow-y: scroll;
}

body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  font-weight: 400;
  margin     : 0;
  padding    : 0;
  color      : #6c6c6c;
  font-family: PingFangSC, PingFangSC-Regular;
}

h1,
h2,
h3,
h4,
h4,
h5 {
  margin : 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  color           : #666666;
  font-family     : PingFangSC, PingFangSC-Medium;
  font-size       : 12px;
  /*padding       :0 10px;*/
  text-align      : left;
}

select {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

fieldset,
img {
  border: 0 none;
}

fieldset {
  margin : 0;
  padding: 0;
}

fieldset p {
  margin : 0;
  padding: 0 0 0 8px;
}

legend {
  display: none;
}

address,
caption,
em,
strong,
th,
i {
  font-style : normal;
  font-weight: 400;
}

table caption {
  margin-left: -1px;
}

hr {
  border-bottom: 1px solid #FFFFFF;
  border-top   : 1px solid #E4E4E4;
  border-width : 1px 0;
  clear        : both;
  height       : 2px;
  margin       : 5px 0;
  overflow     : hidden;
}

ol,
ul {
  list-style-image   : none;
  list-style-position: outside;
  list-style-type    : none;
}

caption,
th {
  text-align: left;
}

a {
  text-decoration: none;
  color          : #6c6c6c;
}

a:hover {
  text-decoration: none;
  color          : #6c6c6c;
}

.ivu-breadcrumb>span:last-child {
  color: #138cff;
}

.ivu-carousel-dots li button {
  width        : 30px;
  height       : 12px;
  opacity      : 0.5;
  background   : #d8d8d8;
  border-radius: 12px;
}

.ivu-carousel-active {
  width        : 50px;
  height       : 12px;
  opacity      : 1;
  background   : #d8d8d8;
  border-radius: 12px;
}

.ivu-carousel-dots li {
  padding    : 0;
  margin-left: 20px;
}

.ivu-carousel-dots li:first-child {
  margin-left: 0;
}

.ivu-carousel-dots-inside {
  bottom: 30px;
}

.problemContent img {
  width : 200px;
  height: 200px;
}